<input [readonly]="bIsReadonly"
       class="form-control"
       [type]="zType"
       (focus)="onTouched()"
       [value]="zValueCurrent"
       (keyup)="handleValue($event)"
>
<br>
<ng-container *ngFor="let err of messageValidate">
  <div class="text-danger"
       style="margin-top: 10px"
       *ngIf="formControl.hasError(err.zType) && (formControl.touched || formControl.dirty)">
    {{err.zMessage}}
  </div>
</ng-container>
