.container{
  padding: 1rem;
  width: 90%;
  display: flex;
  justify-content: center;
}

.mt-2{
  margin-top: 1rem;
}

.mt-3{
  margin-top: 2rem;
}

.text-center{
  text-align: center;
}

.custom-form{
  width: 50%;
}
